.user {
        display: flex;
        gap: 12px;
        justify-content: center;
}

.user-column-heading-options>img {
        width: 20px;
}

.user-column-heading,
.user-column-heading-title,
.user-column-heading-options {
        display: flex;
        justify-content: space-between;
        gap: 5px;
}

.user-column-heading-title {
        font-size: 12px;
        font-weight: bold;
}

.user-pic,
.addIcon,
.threeDots {
        width: 25px;
}

.numbers {
        margin-left: 10px;
        color: rgb(169, 167, 167);
        ;
}